.footer {
  font-size: 2vh;
  height: 4vh;
  background-color: #222222;
}

.App {
 text-align: center;
}

.App-logo {
 height: 40vmin;
 pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
 .App-logo {
   animation: App-logo-spin infinite 20s linear;
 }
}

.img-tile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.inner-tile {
  margin-top: 2em;
  margin-left: 5%;
  background: #dde1e7;
  border-radius: 20px;
  box-shadow: inset -3px -3px 7px #ffffffff, inset 3px 3px 5px rgba(94,104,121, .288); 
  padding: 0.5em;
}

.settings {
  cursor: default;
}
.inner-tile:hover {
  background: #61dafb;
}

.inner-tile {
  cursor: pointer;
}

.weather-dashboard {
  height: 57.5vh;
  overflow-y: scroll;
}

.settings-container {
  height: 10vh;
  margin-bottom: 12em;
}

.App-header {
 background-color: #282c34;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: calc(10px + 2vmin);
 color: white;
}

.input-header {
  margin-left: 35%;
}
.input-control {
  margin-left:  35%;
  width: 25%;
}
.App-link {
 color: #61dafb;
}

@keyframes App-logo-spin {
 from {
   transform: rotate(0deg);
 }
 to {
   transform: rotate(360deg);
 }
}
